

body {
	background: #222;
	color: #eee;
	font-family: 'Roboto Condensed', sans-serif;
}

header, main, footer
{
	width: 100vw;
}

header
{
	background-color: red;
}

header {

	.header-nav {
		height: 24px;
		padding: 12px;
	}
}

main {
	margin: 12px;
}
select, option {
	color: #333;
}

select {
	margin: 0;
	padding: 0;
	border-radius: 0;border: none;
}

button {
	color: #333;

	border: none;
}
